# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
ENV/
env/
.venv/
.env/

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Secrets
credentials.json
*json
*.env

# Testing
main.py
select_file.py
sources.txt
sources_hash.txt

# Lock files
*.lock
Pipfile.lock
poetry.lock
pdm.lock
uv.lock
package-lock.json
npm-shrinkwrap.json
yarn.lock
pnpm-lock.yaml
bun.lockb
Cargo.lock
Gemfile.lock
composer.lock
Podfile.lock
mix.lock
pubspec.lock
.terraform.lock.hcl